{% extends "../dashboard/base.twig" %}

{% block title %}Employee management{% endblock %}

{% block main_content %}
    <h1>Employee management</h1>

    <div id="userHeader">

        <form action="" method="get">
            <div class="row" id="userSearch">
                <input type="text" name="query" value="{{ query }}" placeholder="Search...">
                <input type="submit" value="Search">
            </div>
        </form>

        <div class="spacer"></div>

        {% if is_granted('create_user') %}
            <a href="{{ path('EmployeesController.create') }}">
                <button>Add Employee</button>
            </a>
        {% endif %}

    </div>

    <h2>Results</h2>

    <div class="results">
        {% for user in users %}
            <div class="result">
                <div>
                    <div class="details">
                        <div class="name">
                            {{ user.getFullName() }} <span>{{ user.getId() }}</span>
                        </div>
                        <div class="title">
                            {{ default(user.getRole().getName(), "N/A") }} &bull; <i>{{ user.getSection().getDepartment().getName() }}</i> - {{ user.getSection().getName() }}
                        </div>
                    </div>

                    <div class="spacer"></div>

                    <div class="options">

                        {% if is_granted('view_user', user) %}
                            <a href="{{ path('EmployeesController.view', {'user': user.getId()}) }}">
                                View
                            </a>
                        {% endif %}
                        {% if is_granted('edit_user', user) %}
                            <a href="{{ path('EmployeesController.edit', {'user': user.getId()}) }}">
                                Edit
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div>
        {% for p in range(1, max_pages) %}
            <a href="{{ path('EmployeesController.list') }}?query={{ query|url_encode }}&page={{ p }}">{{ p }}</a>
        {% endfor %}
    </div>
{% endblock %}


{% block page_head %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="/assets/css/search.css">
{% endblock %}