{% extends "../dashboard/base.twig" %}

{% import '../record/utils.twig' as recordUtils %}

{% block title %}{{ user.getFullName() }}{% endblock %}

{% block main_content %}
    <h1>
        {{ user.getFullName() }}
        {% if is_granted('edit_user', user) %}
            <a href="{{ path('EmployeesController.edit', {'user': user.getId()}) }}">
                <i class="fas fa-xs fa-pencil-alt"></i>
            </a>
        {% endif %}
    </h1>

    <div class="table">
        <div class="row">
            <div class="cell heading">
                ID
            </div>
            <div class="cell">
                {{ user.getId() }}
            </div>
        </div>
        <div class="row">
            <div class="cell heading">
                First name
            </div>
            <div class="cell">
                {{ user.getFirstName() }}
            </div>
        </div>
        <div class="row">
            <div class="cell heading">
                Last name
            </div>
            <div class="cell">
                {{ user.getLastName() }}
            </div>
        </div>
        <div class="row">
            <div class="cell heading">
                Email address
            </div>
            <div class="cell">
                {{ user.getEmail() }}
            </div>
        </div>
        <div class="row">
            <div class="cell heading">
                Birth date
            </div>
            <div class="cell">
                {{ localdate(user.getBirthdate(), 'dd/MM/yyyy') }}
            </div>
        </div>
        <div class="row">
            <div class="cell heading">
                Address
            </div>
            <div class="cell">
                {% set a = user.getAddress() %}
                {{ a.getLine1() }}<br>
                {{ a.getLine2() }}<br>
                {{ a.getCity() }}<br>
                {{ a.getCounty() }}<br>
                {{ a.getPostcode() }}<br>
                {{ a.getCountry() }}<br>
            </div>
        </div>
        <div class="row">
            <div class="cell heading">
                Phone number
            </div>
            <div class="cell">
                {{ user.getPhoneNumber() }}
            </div>
        </div>
        <div class="row">
            <div class="cell heading">
                Emergency contact
            </div>
            <div class="cell">
                {{ user.getEmergencyContact() }}
            </div>
        </div>
        <div class="row">
            <div class="cell heading">
                Emergency contact number
            </div>
            <div class="cell">
                {{ user.getEmergencyContactNumber() }}
            </div>
        </div>
        <div class="row">
            <div class="cell heading">
                Department - Section
            </div>
            <div class="cell">
                {{ user.getSection() }}
            </div>
        </div>
    </div>

    {% if is_granted('list_records', user) %}
        <a href="{{ path('RecordController.list', {'user': user.getId()}) }}">Employment history</a>
    {% endif %}
{% endblock %}

{% block page_head %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="/assets/css/view.css">
{% endblock %}
