{% extends 'base.twig' %}

{% block page_body %}
    <div id="dashboard">

        <div id="nav">
            <div class="branding">
                <h1>Yuconz</h1>
                <h5>HR Portal</h5>
            </div>
            <div class="account">
                <div class="option">
                    <div class="accountIcon"></div>
                    <div class="accountDetails">
                        {{ getUser(_).getFullName() }} - {{ getRole(_).getName() }}
                    </div>
                    <div class="dropdown">
                        <div>
                            <a href="{{ path('AuthenticationController.logout') }}">
                                Logout
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="sidePanel">
            <div class="heading">
                My Yuconz
            </div>
            <div class="option selected">
                <a href="{{ path('DashboardController.index') }}">Dashboard</a>
            </div>
            <div class="option">
                <a href="{{ path('PersonalDetailsController.edit') }}">Personal Details</a>
            </div>
            <div class="option">
                <a href="#">Employment History</a>
            </div>
            <div class="option">
                <a href="#">Annual Reviews</a>
            </div>


            <div class="heading">
                Administration
            </div>
            <div class="option">
                <a href="#">Dashboard</a>
            </div>
            <div class="option">
                <a href="#">Employee Search</a>
            </div>
            <div class="option">
                <a href="#">Employment History</a>
            </div>
        </div>

        <div id="mainContent">

            {% block main_content %}{% endblock %}

        </div>
    </div>
{% endblock %}

{% block page_head %}
    <link rel="stylesheet" type="text/css" href="/assets/css/dashboard.css">
{% endblock %}

