{% extends 'base.twig' %}

{% block page_body %}
    <div id="dashboard">

        <div id="nav">
            <div class="branding">
                <h1>Yuconz</h1>
                <h5>HR Portal</h5>
            </div>

            <div class="account">
                <div class="main">
                    <div class="icon">
                        <div class="profilePicture"></div>
                    </div>
                    <div class="details">
                        <div class="name">
                            John Doe
                        </div>
                        <div class="role">
                            Employee - hjfh137
                        </div>
                    </div>
                    <div class="chevron">
                        &#9662;
                    </div>
                </div>
                <div class="dropdown">
                    <div>
                        <a href="{{ path('AuthenticationController.logout') }}">
                            Logout
                        </a>
                    </div>
                </div>
            </div>

        </div>

        <div id="sidePanel">
            <div class="heading">
                My Yuconz
            </div>
            <div class="option {{ activePage(_, 'DashboardController.index') }}">
                <a href="{{ path('DashboardController.index') }}">Dashboard</a>
            </div>
            <div class="option {{ activePage(_, 'PersonalDetailsController.edit') }}">
                <a href="{{ path('PersonalDetailsController.edit', {'user': getUser(_).getId()}) }}">
                    Personal Details
                </a>
            </div>
            <div class="option">
                <a href="#">Employment History</a>
            </div>
            <div class="option">
                <a href="#">Annual Reviews</a>
            </div>

            {% if is_granted(_, 'has_rights', 'HR_EMPLOYEE') %}
                <div class="heading">
                    Administration
                </div>
                <div class="option">
                    <a href="#">Dashboard</a>
                </div>
                <div class="option {{ activePage(_, 'PersonalDetailsController.list') }}">
                    <a href="{{ path('PersonalDetailsController.list') }}">Employee Search</a>
                </div>
            {% endif %}
        </div>

        <div id="mainContent">

            {% block main_content %}{% endblock %}

        </div>
    </div>
{% endblock %}

{% block page_head %}
    <link rel="stylesheet" type="text/css" href="/assets/css/dashboard.css">
{% endblock %}

