{% extends 'base.twig' %}

{% block title %}Dashboard{% endblock %}

{% set routeName = _.getRoute().getName() %}

{% block page_body %}
    <div id="dashboard">

        <div id="nav">
            <div class="branding">
                <h1>Yuconz</h1>
                <h5>HR Portal</h5>
            </div>

            <div class="account">
                <div class="main">
                    <div class="icon">
                        <div class="profilePicture"></div>
                    </div>
                    <div class="details">
                        <div class="name">
                            {{ getUser().getFullName() }}
                        </div>
                        <div class="role">
                            {{ getRole().getName() }} &bull; {{ getUser().getId() }}
                        </div>
                    </div>
                    <div class="chevron">
                        &#9662;
                    </div>
                </div>
                <div class="dropdown">
                    <div>
                        <a href="{{ path('AuthenticationController.logout') }}">
                            Logout
                        </a>
                    </div>
                </div>
            </div>

        </div>

        <div id="sidePanel">
            <div class="heading">
                My Yuconz
            </div>
            <div class="option {{ activePage('DashboardController.index') }}">
                <a class="link" href="{{ path('DashboardController.index') }}">Dashboard</a>
            </div>
            {% if is_granted('view_user', getUser()) %}
                {% set currentUserDetails = routeName in ['EmployeesController.view', 'EmployeesController.edit'] %}
                {% if currentUserDetails %}
                    {% set currentUserDetails = getUser().equals(user) %}
                {% endif %}
                {% set activeClass = currentUserDetails ? "selected" : "" %}

                <div class="option {{ activeClass }}">
                    <a class="link" href="{{ path('EmployeesController.view', {'user': getUser().getId()}) }}">
                        Personal Details
                    </a>

                    {% if is_granted('edit_user', getUser()) %}
                        <a href="{{ path('EmployeesController.edit', {'user': getUser().getId()}) }}" class="icon">
                            <i class="fas fa-pencil-alt"></i>
                        </a>
                    {% endif %}
                </div>
            {% endif %}

            {% if is_granted('list_records') %}
                <div class="option">
                    <a class="link" href="{{ path('RecordController.list') }}">Employment History</a>
                </div>
            {% endif %}

            {% if is_granted('has_rights', 'HR_EMPLOYEE') %}
                <div class="heading">
                    Administration
                </div>
                <div class="option">
                    <a class="link" href="#">Dashboard</a>
                </div>
                {% if is_granted('list_users') %}
                    {% set isEmpManagement = routeName in ['EmployeesController.view', 'EmployeesController.edit', 'EmployeesController.list'] %}
                    {% if routeName in ['EmployeesController.view', 'EmployeesController.edit'] and getUser().equals(user) %}
                        {% set isEmpManagement = false %}
                    {% endif %}
                    {% set activeClass = isEmpManagement ? "selected" : "" %}

                    <div class="option {{ activeClass }}">
                        <a class="link" href="{{ path('EmployeesController.list') }}">Employee Management</a>
                    </div>
                {% endif %}
            {% endif %}
        </div>

        <div id="mainContent">

            {% set flashMessages = service('FlashManager').getCurrentFlashes() %}

            {% for message in flashMessages %}
                <div class="alert {{ message.getType() }}">
                    {% if message.getIcon() %}
                        <span class="fas fa-{{ message.getIcon() }}"></span>
                    {% endif %}

                    {{ message.getBody() }}
                </div>
            {% endfor %}

            {% block main_content %}{% endblock %}

        </div>
    </div>
{% endblock %}

{% block page_head %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="/assets/css/dashboard.css">
{% endblock %}
